<div class="container-fluid bg-main-light  pb-4">
    <div class="container">
        <div class="row ">
            <h4 class="pt-5 ">Get The FreshCart App</h4>
            <p class="text-muted">We will send you a link, open it in your phone to download the app.</p>
            <div class="col-md-10">
                <input type="email" placeholder="Email.." class="form-control ms-2" />
            </div>
            <div class="col-md-2">
                <button class="btn bg-main text-white w-100">Share App Link</button>
            </div>
        </div>
        <div class="border  my-4"></div>
        <div class="row">
            <div class="parent d-flex justify-content-between">
                <div class="col-md-6">
                 <div class="part1 d-flex ">
                     <h6 class="fw-semibold me-2 pt-2">Payment Partners</h6>
                     <img src="../../assets/finalProject assets/images/1.png" class="me-2 imgwidth1"/>
                     <img src="../../assets/finalProject assets/images/2.png" class="me-2 imgwidth1"/>
                     <img src="../../assets/finalProject assets/images/3.png" class="me-2 imgwidth1"/>
                     <img src="../../assets/finalProject assets/images/4.png" class="me-2 imgwidth1"/>
                 </div>
                </div>
                <div class="col-md-6  ps-3">
                 <div class="part2 d-flex ms-5 ps-5">
                     <h6 class="fw-semibold me-2 pt-2">Get deliveries with FreshCart</h6>
                     <img  src="../../assets/finalProject assets/images/download1.png" class="w-25 rounded me-2 imgwidth"/>
                     <img src="../../assets/finalProject assets/images/download2.png" class="w-25 rounded imgwidth"/>
                 </div>
                </div>
             </div>
 
        </div>
        <div class="border  mt-4 mb-5"></div>
    </div>
</div>

